<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Add style-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 
</head>
<body class="gradient-custom">
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/">Boomtastic</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/cart">Cart</a>
                    </li>
                    <li class="nav-item dropdown">
                        {% if 'user_id' not in session %}
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Hello, sign in
                        </a>
                        {% else %}
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Hello, {{session['username']}}!
                        </a>
                        {% endif %}
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/info">Info</a>
                            </li>
                            <li><a class="dropdown-item" href="/orders">Order History</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                {% if 'user_id' not in session %}
                                <a class="dropdown-item" href="/signIn">Login</a>
                                {% else %}
                                <a class="dropdown-item" href="/logout">Logout</a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                </ul>
                <form action="/search" method="post" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="title">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                            <h6 class="mb-0 text-muted">{{len}} items</h6>
                                        </div>
                                        <hr class="my-4">
                                        <form action="/process_orders" method="post">
                                            {% for item in cart %}
                                                <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                    <input type="checkbox" class="col-md-1 col-lg-1 col-xl-1" name="product_id" value="{{item.id}}" onchange="toggleName(this)">
                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                                        <img src="{{item.img}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                                        <h6 class="text-muted">{{item.category}}</h6>
                                                        <h6 class="text-black mb-0">{{item.name}}</h6>
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                        <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                    
                                                        <input id="form1" min="0" value="{{item.quantity}}" type="number" class="form-control form-control-sm">
                                                    
                                                        <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                        <h6 class="mb-0">€ <span name="price">{{item.price * item.quantity}}</span></h6>
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                        <a href="/remove/{{item.id}}" class="text-muted"><i class="fas fa-times">X</i></a>
                                                    </div>
                                                </div>
                                                
                                                <hr class="my-4">
                                            {% endfor %}
                                            <div class="pt-5">
                                                <h6 class="mb-0"><a href="/" class="text-body">
                                                    <i class="fas fa-long-arrow-alt-left me-2"></i>
                                                    Back to shop
                                                </a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 bg-grey">
                                        {% for message in get_flashed_messages() %} <!-- loop through the messages -->
                                            <div class="container bg-warning text-bg-light rounded-4 p-2">
                                                <p>{{message}}</p> <!-- display each message in a paragraph tag -->
                                            </div>
                                        {% endfor %}
                                        <div class="p-5">
                                            <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                            <hr class="my-4">
        
                                            <div class="d-flex justify-content-between mb-4">
                                                <h5 class="text-uppercase">items <span id="total_items">3</span></h5>
                                                <h5>€ <span id="total_cost">0</span></h5>
                                            </div>
        
                                            <h5 class="text-uppercase mb-3">Shipping</h5>
        
                                            <div class="mb-4 pb-2">
                                                <select class="select">
                                                    <option value="1">Standard-Delivery- €5.00</option>
                                                </select>
                                            </div>
                                            {% if 'user_id' in session %}
                                                <h5 class="text-uppercase mb-3">Address</h5>
                                                <div class="mb-4 pb-2">
                                                    {% if addresses %}
                                                        <select class="select" name="address">
                                                            {% for address in addresses %}
                                                                <option value="{{address.id}}">
                                                                    {{address.street}} {{address.apt}} {{addresses.city}} {{address.state}} {{address.zip_code}}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    {% else %}
                                                        <a href="/new_address">Add a new address</a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
        
                                            <hr class="my-4">
        
                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class="text-uppercase">Total price</h5>
                                                <h5>€ <span id="final_cost">0</span></h5>
                                            </div>
        
                                            <button type="submit" class="btn btn-dark btn-block btn-lg"
                                                data-mdb-ripple-color="dark">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    
        </div>
    </section>
    <!--Add script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script> 
</body>
</html>